<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="/static/LingerUI/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/LingerUI/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css"/>
    <link href="/static/LingerUI/ligerUI/skins/Gray/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="/static/LingerUI/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="/static/LingerUI/ligerUI/js/ligerui.all.js"></script>
    <script src="/static/CustomersData.js" type="text/javascript"></script>
    <script type="text/javascript">
        function itemclick(item) {
            alert(item.text);
            //f_open()
        }

        var win1;

        function f_open() {
            if (win1) win1.show();
            else win1 = $.ligerDialog.open({
                height: 650,
                url: '/qst_record',
                width: 960,
                showMax: true,
                //showToggle: true,
                showMin: true,
                isResize: true,
                slide: false
            });
        }

        $(function () {
            window['g'] =
                $("#maingrid").ligerGrid({
                    height: '100%',
                    columns: [
                        {display: '顾客', name: 'CustomerID', align: 'left', width: 100, minWidth: 60},
                        {display: '公司名', name: 'CompanyName', minWidth: 120},
                        {display: '联系名', name: 'ContactName', minWidth: 140},
                        {display: '城市', name: 'City'}
                    ],
                    data: CustomersData,
                    pageSize: 30,
                    rownumbers: true,
                    onDblClickRow: function (data, rowindex, rowobj) {
                        //$.ligerDialog.alert('选择的是' + data.CustomerID);
                        alert(data)
                        alert(rowindex)
                        alert(rowobj)
                        f_open();
                    },
                    toolbar: {
                        items: [
                            {text: '增加', click: itemclick, icon: 'add'},
                            {line: true},
                            {text: '修改', click: itemclick, icon: 'modify'},
                            {line: true},
                            {text: '删除', click: itemclick, img: '/static/LingerUI/ligerUI/skins/icons/delete.gif'},
                            {line: true},
                        ]
                    },
                    autoFilter: true
                });

            $("#pageloading").hide();
        });

        function deleteRow() {
            g.deleteSelectedRow();
        }

        function getCheckedData() {
            var rows = grid.getCheckedRows();
            var str = "";
            $(rows).each(function () {
                str += this.CustomerID + ",";
            });
            $.ligerDialog.alert('选择的是' + str);
        }
    </script>
</head>
<body style="overflow-x:hidden; padding:2px;">
<div class="l-loading" style="display:block" id="pageloading"></div>
<a class="l-button" style="width:120px;float:left; margin-left:10px; display:none;"
   onclick="deleteRow()">删除选择的行 </a>
<div class="l-clear"></div>
<div id="maingrid"></div>
<div style="display:none;"></div>
</body>
</html>